img.showbox {
  cursor: pointer; }

#showBox {
  background-color: rgba(0, 0, 0, 0.8);
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transition: 300ms;
  right: 50%;
  width: 0;
  z-index: 20; }
  #showBox.visible {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; }

#close, #next, #prev {
  background-color: #8bc34a;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 50px;
  height: 60px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  transition: 200ms;
  width: 60px;
  z-index: 30; }
  #close:hover, #next:hover, #prev:hover {
    opacity: 1; }

#close {
  background-image: url("button-close.png");
  top: 10px;
  right: 10px; }

#next {
  background-image: url("button-next.png");
  top: 50%;
  right: 10px; }

#prev {
  background-image: url("button-prev.png");
  top: 50%;
  left: 10px; }

#showBoxLoading {
  border: 15px solid white;
  border-right-color: #8bc34a;
  border-left-color: #8bc34a;
  border-radius: 50%;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 100px;
  -webkit-animation: spin 3s linear 0s infinite reverse;
  animation: spin 3s linear 0s infinite reverse; }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg); } }
@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
    
#showBoxImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 96%;
  left: 2%;
  position: absolute;
  top: 2%;
  width: 96%; }
